{% extends 'base.html.twig' %}

{% block title %}Edition d'un article{% endblock %}

{% form_theme form _self %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center mb-5">Edition de l'article {{article.libelle}}</h1>

        {{form_start(form)}}

        {{form_widget(form)}}

        <button type="submit" class="btn btn-success">Enregistrer</button>

        {{form_end(form)}}
    </div>
{% endblock %}

{% block _article_images_widget %}
    <p>Change ici tes images</p>

    {{form_widget(form)}}

    <input type="hidden" class="widgets-counter" value="0">

    <div class="form-group">
        <button type="button" class="btn btn-secondary" id="ajout-image">Ajouter</button>
    </div>
{% endblock %}

{% block _article_images_entry_row %}
    {{form_widget(form)}}
{% endblock %}

{% block _article_images_entry_widget %}
    <div class="form-group" id="block_{{id}}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {{form_widget(form.url)}}
                    </div>
                    <div class="col">
                        {{form_widget(form.caption)}}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">X</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>    
        $("#ajout-image").click(function(){
            //recupere le numero des futurs champs 
            const index = +$('#widgets-counter').val(); //utilisation pour dejouer le bug de java

            //recupere le prototype des entrees
            const tmpl = $('#article_images').data('prototype').replace(/__name__/g, index);

            //injecte le code au sein de la div
            $('#article_images').append(tmpl);

            $('widgets-counter'.val(index+1))

            //gere le button supprimer
            handleDeleteButtons();
        });

        function handleDeleteButtons(){
            $('button[data-action="delete"]').click(function(){
                const target = this.dataset.target;
                $(target).remove();
            })
        }

        function updatecounter(){
            const counter = +$('#article_images div.form-group').length;

            $('#widget-counter').val(counter);
        }

        updatecounter();

        handleDeleteButtons();
    </script>
{% endblock %}