{% extends 'base.html.twig' %}

{% block title %}{{article.libelle}}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row mt-3 mb-2">
            <div class="col">
                <h1>{{article.libelle}}</h1>
            </div>
            <div class="col">
                <h2 class="text-center">{{article.prix}}&euro;</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mb-3">
                {{article.description}}
                
                <br>
                {% if app.user and app.user == article.auteur %}
                    <div class="mt-3">
                        <a href="{{path('edition_article',{'libelle':article.libelle})}}" class="btn btn-secondary">Modifier</a>
                        <a href="{{path('suppression_article',{'libelle':article.libelle})}}" class="btn btn-warning" 
                        onclick="return confirm(`Etes-vous sur de vouloir le supprimer ?`)">Supprimer</a>
                    </div>
                {% else %}
                    <div class="mt-3">
                        <a href="#" class="btn btn-secondary">Acheter</a>
                    </div>
                {% endif %}    
            </div>
            <div class="col">
                <img style="height: 250px; width: 250px;" src="{{article.image}}" alt="">
            </div>
        </div>
        <div class="row  mt-3 mb-2">
        {% set a = article.auteur %}
            <div class="col-mr-2">
                <a href="{{path('compte_user', {'id': a.id, 'nom': a.nom} )}}">
                    <img  class="avatar avatar-medium" src="{{a.avatar}}" alt="">
                </a>
            </div>
            <div class="col">
                <a href="{{path('compte_user', {'id': a.id, 'nom': a.nom} )}}">
                    <h2>Pigiste : {{a.prenom}} {{a.nom}}</h2>
                </a>
            </div>
        </div>
    </div>
{% endblock %}